/* Estilo para o header */
header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #2f8e41; /* Verde */
    color: white;
}

header img {
    width: 50px;
    margin-right: 10px;
}

header nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

/* Estilo dos cards */
#itensContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    display: inline-block;
    width: 250px;
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}

.card button {
    margin: 5px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.card button:nth-child(5) {
    background-color: #4CAF50;
    color: white;
}

.card button:nth-child(6) {
    background-color: #f44336;
    color: white;
}


/* Estilo básico do formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: 0 auto;
}

form label {
    font-weight: bold;
}

form input, form textarea, form button {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    background-color: #2f8e41;
    color: white;
    cursor: pointer;
    border: none;
}

form button:hover {
    background-color: #277234;
}
